PyQt6
websocket-client
requests
numpy
scipy
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
pypdf
pdfplumber
pandas
openpyxl
xlrd
elasticsearch<8.0.0
PyQt6-WebEngine
